<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restaurante</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">puesto02</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>


		<mapping class="models.Bebida" />
		<mapping class="models.Complemento" />
		<mapping class="models.Extra" />
		<mapping class="models.Hamburguesa" />
		<mapping class="models.Ingrediente" />
		<mapping class="models.Postre" />
		<mapping class="models.Producto" />
		<mapping class="models.Salsa" />


	</session-factory>
</hibernate-configuration>
